.browse {
    width: 100%;
    background-color: var(--primary-color); 
    color: var(--white-color);
    padding: 16px;
    display: grid;
    place-items: center;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        h3 {
            font-size: var(--header-two-size); 
            font-weight: 700;
        }

        p {
            font-size: var(--paragraph-size); 
            max-width: 360px;
            font-weight: 400;
            text-align: center;
        }

        button {  
            border-radius: 8px;
            border-color: transparent;
            background-color: var( --secondary-color);
            font-weight: 500;
            font-size: 16px;
            padding: 8px 16px;
            color: var(--white-color);
            text-align: center;    
            transition-duration: 0.25s;
        
            &:hover {
                opacity: 0.5;
            }
        }
    }
}