<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form class="login-container" #loginForm="ngForm" >
        <h2>Login</h2>
        
        <div class="input-container">
            <input type="email" name="email" placeholder="Email" [(ngModel)]="email" required #emailRef="ngModel">
            <div *ngIf="emailRef.invalid && emailRef.touched" class="text-danger">
                Email is required
            </div>
        </div>
        
        <div class="input-container">
            <input type="password" name="password" placeholder="Password" [(ngModel)]="password" required #passwordRef="ngModel">
            <div *ngIf="passwordRef.invalid && passwordRef.touched" class="text-danger">
                Password is required
            </div>
        </div>
        
        <button type="submit" (click)="onSubmit(loginForm)">Login</button>
    </form >
</body>
</html>
