body {
    background-color: var(--primary-color);    
}

.register-container {
    width: 100%;
    max-width: 400px;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.register-container h2 {
    text-align: center;
    color: var(--secondary-color);
}

.register-container input,
.register-container select,
.register-container button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px var(--secondary-color);
    box-sizing: border-box;
    outline: none;    
}

.register-container button {
    background-color: var(--secondary-color);
    color: var(--white-color);
    cursor: pointer;
}

.register-container button:hover {
    background-color: var(--opacity-secondary-color);
}
.register-container select option::after {
    background-color: var(--secondary-color);
}

::ng-deep .mat-mdc-dialog-panel{
    width: 400px;
  }


.input-container{
    width: 100%;
  }