<div class="intro shadow">
	<div class="intro-container">
		<img
			class="shadow"
			src="../../../../assets/images/hero.svg"
			alt="Profile"
		/>
		<hr />
		<div class="data-container">
			<h1>ABC Company</h1>
			<h2>Outscourcing</h2>
			<div>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Dolorem, optio. Ullam, eos magnam! Ullam possimus odit
					voluptate cumque hic, quidem laboriosam vero maxime tempore
					earum?
				</p>
				<button (click)="onPostJobClick()">Post Job</button>
			</div>
		</div>
	</div>
</div>
