.post-job-container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 16px;

  }

  .post-job-container h2 {
    text-align: center;
    color: var(--primary-color);
}

  
  .form-group {
    width: 100%;
    text-align: left;
    // padding-left: 10px;
    // // padding-bottom: 10px;
    // padding-right:10px ;
  }
  
  label {
    display: block;
    color: var( --primary-color);
  }
  
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: var(--primary-color);
    width: 100%;
    max-width: 100px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--opacity-primary-color);
  }

  ::ng-deep .mat-mdc-dialog-panel{
    width: 800px;
  }
  
