<div class="filter">
	<select>
		<option value="Category One">Category One</option>
		<option value="Category Two">Category Two</option>
		<option value="Category Three">Category Three</option>
	</select>
	<select>
		<option value="Position One">Position One</option>
		<option value="Position Two">Position Two</option>
		<option value="Position Three">Position Three</option>
	</select>
	<select>
		<option value="Location One">Location One</option>
		<option value="Location Two">Location Two</option>
		<option value="Location Three">Location Three</option>
	</select>
	<div class="range-container">
		<label> Date Range </label>
		<div>
			<input type="date" placeholder="From" />
			<span>To</span>
			<input type="date" placeholder="To" />
		</div>
	</div>
	<div class="range-container">
		<label> Applicants Range </label>
		<div>
			<input type="number" placeholder="From" />
			<span>To</span>
			<input type="number" placeholder="To" />
		</div>
	</div>
</div>
