header {
    position: absolute;
    top: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;

    nav {
        height: fit-content;
        padding: 16px 40px;

        ul {
            list-style: none;
            gap: 16px;
            margin: 0;

            li {
                a {
                    text-decoration: none;
                    border-bottom: solid 2px transparent;
                    transition-duration: 0.25s;

                    &:hover {
                        border-bottom: solid 2px var(--secondary-color);
                    }
                }

                button {
                    border: solid 2px var(--secondary-color);
                    background-color: transparent;
                    color: var(--white-color);
                    padding: 8px 16px;
                    transition-duration: 0.25s;
                    font-weight: 500;

                    &:hover {
                        opacity: 0.5;
                    }
                }

                .register {
                    background-color: var(--secondary-color);
                }
            }
        }

        .menu {
            display: none;
        }
    }
}

@media (max-width: 786px) {
    header {
        background: var(--opacity-primary-color);

        nav {
            display: flex !important;
            justify-content: center !important;
            cursor: pointer;
            transition-duration: 0.25;

            &:hover {
                opacity: 0.5;
            }

            ul {
                display: none !important;
            } 

            .menu {
                display: block;
                width: 32px;
            }
        }
    }
}