<div class="vacancy-card shadow">
	<img src="../../../../../assets/images/vertical-logo.svg" alt="Image" />
	<div class="vacancy-card-body">
		<h3>Senior Full Stack Engineer</h3>
		<div>
			<h4>ABC Company</h4>
			<div>Technology</div>
		</div>
		<span> 2 days ago </span>
	</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum fugit
		ipsam veniam consequatur id excepturi tempora aliquid rem suscipit
		accusamus. Deleniti maiores iste sed saepe.
	</p>
	<div class="vacancy-card-footer">
		<button>Visit Company</button>
		<button class="apply">Apply Now</button>
	</div>
</div>
