@if (data) {
<div class="vacancy-card shadow">
	<img
		src="../../../../../assets/images/hero.svg"
		alt="Image"
		class="shadow"
	/>
	<div class="vacancy-card-body">
		<h3>{{ data.name }}</h3>
		<div>
			<h4>{{ data.companyName }}</h4>
			<div>{{ data.categoryName }}</div>
		</div>
		<span> {{ data.openDate }} </span>
	</div>
	<p>
		{{ data.description }}
	</p>
	<div class="vacancy-card-footer">
		<button>Visit Company</button>
		<button class="apply">Apply Now</button>
	</div>
</div>
}
