
.feature-card {
    text-align: center;
    // width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    // max-width: 240px;
    aspect-ratio: 3 / 2;
    padding: 16px;
    background-color: var(--white-color);
    transition-duration: 0.25s;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        h3 {
            font-size: var(--banner-size);
            font-weight: 500;

            span {
                color: var(--primary-color);
            }
        }
        
        p {
            font-size: var(--header-two-size);
            font-weight: 500;
            transition-duration: 0.5s;
            border-bottom: solid 4px transparent;
        }
    }

    &:hover {
        transform: scale(1.05);

        div p {
            border-bottom: solid 4px var(--secondary-color);
        }
    }
}