<div class="sort">
	<mat-radio-group
		aria-label="Sorting Options"
		(change)="onRadioButtonChange($event.value)"
	>
		<mat-radio-button value="alphabetically"
			>Alphabetically</mat-radio-button
		>
		<mat-radio-button value="most-recent">Most Recent</mat-radio-button>
		<mat-radio-button value="highest-rated-company"
			>Highest Rated Company</mat-radio-button
		>
		<mat-radio-button value="biggest-salary-offered"
			>Biggest Salary Offered</mat-radio-button
		>
		<mat-radio-button value="most-active-reviewer"
			>Most Active Reviewer</mat-radio-button
		>
	</mat-radio-group>
</div>
