@use '@angular/material' as mat;
@include mat.core();

$custom-primary: mat.define-palette(mat.$teal-palette, 500); // #008080
$custom-accent: mat.define-palette(mat.$lime-palette, A400); // #9ECB05

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent
    )
  )
);

@include mat.all-component-themes($custom-theme);